.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 1rem; /* Add space between Tabs and the content below */
  padding: 0 24px;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .content {
    padding: 0;
  }
}
